body {
  background-color: #CBCBCB;
  font-size: 20px;
  color: #8D90C7; }
  body a:link, body a:visited, body a:active {
    text-decoration: none;
    background-color: #8D90C7;
    color: #8D90C7; }
  body ul {
    list-style: none; }
