$prime-blue: #8D90C7;
$nav-orange: #FBBE67;

body{
	background-color: #CBCBCB;
	font-size: 20px;
	color: $prime-blue;
	
	a:link, a:visited, a:active, {
		text-decoration: none;
		background-color: $prime-blue;
		color: $prime-blue;
		// overflow: hidden;
	}

	ul{
		list-style: none;
	}

}

